@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* CSS Document */

html{
    font-size: 16px;
}
body{ 
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin:0px;
    padding:0px;
    background:#FFFFFF url(../images/blue-background3.jpg) left top repeat;
}

p{
    margin:0px; padding:0px;
}
img{
    border:0px;
}
table {
    border-collapse:collapse;
}

td{
    padding: 0%;
}

table.no-spacing {
  border-spacing: 0;
  width:100%;
  padding:0;
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.flt{ float:left;
}
.flt1{ clear:left; float:center;
}
.flt2{ float:right;
}
.flt3{ float:left;
}

.topblock{}
.tp_txtplay{ font:bold 32px Trebuchet MS; color:#FFFFFF; text-decoration:none;}	
.tp_txtcss{ font:bold 22px Trebuchet MS; color:#FFFFFF; }
.tp_home{ font:bold  16px Trebuchet MS; color:#ffffff; margin:0px; text-decoration:none;}
.tp_home2{ font:bold 16px Trebuchet MS; color:#ffffff; margin:0px; text-decoration:none;}
.tp_pipe{display:inline; margin:0px 10px 0px 10px;}	
#cpblock{float:left; display:inline; margin:0px 0px 0px 50px; width:898px;}
.cpinner{display:inline; margin:0px; width:882px; border-left:8px solid #FFFFFF; border-right:8px solid #FFFFFF; background:#448CCB url(../images/cp_bg.gif) repeat-x;}
.lp_block{ display:inline; width:260px; margin:0px 20px 0px 21px;}
.lp_imgpair{ margin:50px 0px 0px 10px;}
.lp_txtmem,.lp_txtour,.lp_txtclint{ font:bold 12px/14px Trebuchet MS; color:#ffffff; margin:80px 0px 0px 10px;}
.lp_txtour{ color:#36382A; margin:10px 0px 0px 24px;}
.lp_txtclint{ margin:5px 0px 0px 9px;}
.lp_txtlog,.lp_txtlog2{ font:12px/14px Trebuchet MS; color:#ffffff; margin:18px 0px 0px 18px; width:54px;}
.lp_txtlog2{ margin:6px 0px 0px 18px;}
.lp_textbox,.lp_textbox2{ display:inline; width:110px; height:16px; margin:14px 0px 0px 8px; border:1px solid #8AC5E5;}
.lp_textbox2{ margin:4px 0px 0px 8px; border:1px solid #8AC5E5;}
.lp_arrow{ margin:4px 0px 0px 8px;}
.lp_boxtop1{ margin:28px 1px 0px 1px;}
.lp_boxtop2{ margin:0px 1px 0px 1px;}
.lp_boxbg{width:258px; display:inline; background:#E4F0CD; margin:0px 1px 0px 1px; padding-bottom:24px;}
.lp_boxtxt,.lp_boxtxt2,.lp_box2txt{ font:12px/14px Trebuchet MS; color:#5F5F5F; margin:12px 0px 0px 24px; width:196px;}
.lp_box2txt{ font:12px/14px Trebuchet MS; color:#ffffff; margin:7px 0px 0px 27px; width:210px;}
.lp_boxtxt2{ font:12px/14px Trebuchet MS; color:#36382A; margin:7px 0px 0px 10px; width:136px;}
.lp_boxbult{ margin:13px 1px 0px 34px;}
.lp_boxtop3{ margin:16px 0px 0px 0px;}
.lp_box2bg{ display:inline; width:260px; background:url(../images/lp_box2bg.gif) repeat-y; padding-bottom:6px;}
.lp_imgclient{ margin:3px 0px 0px 27px;}
.rp_block{ display:inline; width:560px;}
.rp_inner{ display:inline; width:570px; margin:0px; background:#D8E7F4 url(../images/rp_bg.gif) repeat-x; padding-bottom:10px;}
.rp_txtour{ font: bold italic 20px Trebuchet MS; color:#99204E; margin:0px 0px 0px 0px;}
.rp_abacus{ margin:30px 0px 0px 40px;}
.rp_weltxt{ font:12px/14px Trebuchet MS; color:#5F5F5F; margin:26px 0px 0px 26px; width:378px;}
.rp_linktxt{ font:12px/14px Trebuchet MS; color:#BD2E12; margin:8px 0px 0px 10px; width:350px;}
.rp_read{ width:91px; height:16px; background:url(../images/cp_butt.gif) no-repeat; margin:10px 0px 0px 0px;}
.rp_line{ margin:20px 0px 0px 24px;}
.rp_bult{ margin:13px 0px 0px 0px;}
.rp_topcornn{margin:15px 0px 0px 0px;}
.rp_nameband{margin:30px 0px 0px 10px;}
.rp_weltxt2{ font:12px/14px Trebuchet MS; color:#5F5F5F; margin:14px 0px 0px 0px; width:378px;}
.ft_bg{width:1000px; height:50px; background:#ffffff; margin:0px;}
.ft_txt,.ft_txt2,.ft_txt3{ font:bold italic 13px/15px Trebuchet MS; color:#ffffff; margin:16px 0px 0px 206px; text-decoration:none;}
.ft_txt2{margin:16px 0px 0px 0px;}
.ft_txt3{font:12px/14px Trebuchet MS; color:#555555; margin:0px 0px 0px 220px; width:1050px;}
.ft_txt4{font:12px/14px Trebuchet MS; color:#555555; margin:50px 0px 0px 220px; width:1050px;}
.ft_bult{margin:24px 20px 0px 20px;}
.ft_button{margin:10px 0px 0px 15px;}
.ft_button2{margin:10px 0px 0px 6px;}
.ft_email{color:#CCBBAA;text-decoration:underline;}
a:link {
    color: white;
    text-decoration:none;
    
}

/* visited link */
a:visited {
    color:  white;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: black;
    background-color: #B7F3FE;
}

/* ======================================================Index section =====================================*/
/* banner section */
.banner{
    position: absolute;
    height: 30vh;
    width: 100vw;
    margin-top: 0px;
    background-image: url(https://images.unsplash.com/photo-1578241561880-0a1d5db3cb8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}

/* nav section */
.nav-bar{
    align-self: start;
    top: 0;
    position:sticky;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(66, 135, 245, 0.2);
}
.menu{
    display: flex;
    gap: 1vw;
    margin-right: 2vw;
}
.myButton {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 6rem; 
    font-size: 1rem;
    font-weight: 600;
    padding: 7px; 
    border-radius: 10px; 
    background-image: linear-gradient(to right, rgb(0, 204, 255) 0%, rgb(0, 189, 236) 50%, rgb(0, 181, 226) 100%);
    box-shadow: rgb(52, 235, 225) 2px 2px 5px;
    border: 0px solid rgb(28, 110, 164);
   }
    
    .myButton:hover {
    background: #00CCFF; }
    .myButton:active {
    background: #00B5E2; }

.logo{
    margin-left: 1vw;
}
.banner-container
{
    height: 20vh;
    background-color: transparent;
}
img{
    object-fit: cover;
}
footer{
    display: flex;
    background: linear-gradient( to right, rgba(243, 243, 243, 0.5) ,  rgba(0, 217, 243, 0.5) , rgba(0, 153, 171, 0.5),  rgba(0, 153, 171, 0.5),  rgba(0, 217, 243, 0.5), rgba(243, 243, 243, 0.5) );
    border-radius: 2px;
    align-items: end;
    justify-content: center;
    font-size: 0.8rem;
}
.main-index{
    margin: 0%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20vh 10vh minmax(63vh, auto) 7vh;
}

table caption{
    margin-top: 1vw;
}
.main-index-table-content h1{
    font-size: 1.5rem;
}
.table-spisak-hospitalizacija th{
    padding: 0.5vw;
    text-align: center;
    font-size: 1.25rem;
    background-color:rgb(0, 189, 236);
    color: white;
}
.table-spisak-hospitalizacija td{
    font-size: 1rem;
}
.table-spisak-hospitalizacija tr:nth-child(even){background-color: #f2f2f2;}

.table-spisak-hospitalizacija tr:hover {background-color: #ddd;}
.main-index-table-content h1{
    font-weight: 400;
    text-align: center;
}
@media(max-width: 600px){
    html{
        font-size: 14px;
    }
}
/* ====================================================== End Index section =====================================*/