.form-container-tretman{
display: grid;
grid-template-rows: 1fr 5fr ;
justify-self: center;
margin-bottom: 2vh;
}
input, select {
    height: 1.5rem;
    border-radius: 4px;
    border: 0;
    border-bottom: 1px solid rgb(0,0,0,.4);
    padding: 2px 2px 2px 5px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all .5s ease-in;

} 
.input-container{
    display: grid;
    padding: 2vw;
}
.input-container-tipAktivnosti{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2vw;
}
textarea{
    border-radius: 10px;
}
form{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--form-color);
    display: grid;
    gap: 1vh;
}
.save-btn{
    display: grid;
    border: 0;
    background-color :rgb(0, 183, 255);
    color: white;
    padding: 10px 50px;
    letter-spacing: .05em;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
    outline: none;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.save-btn:hover {
    color: black;
    background: #00CCFF; }

    .save-btn-clicked {
        color: black;
        background: #00CCFF; }

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}