/* ====================================================== Page container =====================================*/
.main-administrator {
    display: grid;
    grid-template-rows: 10vh minmax(86vh, auto) 4vh;
    background-color: var(--dark-blue);
}

/* ====================================================== Form containers =====================================*/
.form-container-pacijent input:focus,
.form-container-pacijent input:focus-visible,
.form-container-hospitalizacija input:focus,
.form-container-hospitalizacija input:focus-visible {
    border-color: rgb(33, 250, 131);
    box-shadow: 0 0 5px rgb(0,0,0,.3);
    outline: none;
}
.form-container-hospitalizacija input:disabled {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ====================================================== Table =====================================*/
.administrator-table-content h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-left: 1rem;
}
.table-button {
    font-weight: 600;
    letter-spacing: 0.1rem;
    width: 100%;
    border-radius: 4px;
    border: 0;
    background-color: var(--dusky-green);
    color: aliceblue;
    padding: 1px 1px 1px 3px;
}
.table-button:hover { background-color: var(--bright-green); }
