/* ====================================================== Treatment form container =====================================*/
.form-container-tretman {
    background-color: var(--form-color);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    max-width: 600px;
    margin: 0 auto 2vh;
}
@media (max-width: 600px) {
    .form-container-tretman {
        margin-left: 1vh;
        margin-right: 1vh;
    }
}
